.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: gray;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    135deg,
    rgba(63, 94, 251, 1) 50%,
    rgba(181, 58, 83, 1) 50%
  );
}
